@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

[data-slice-theme-scope] {
	--font-family: "Funnel Sans";
	--font-weight-regular: 360;
	--font-weight-medium: 420;
	--font-weight-bold: 480;
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 15px;
	--font-size-l: 16px;
	--font-size-xl: 17px;
}

[data-slice-theme-scope] .body-xs-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xs);
	line-height: 133.33%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .body-xs-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-xs);
	line-height: 133.33%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .body-xs-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xs);
	line-height: 133.33%;
	text-decoration: none;
	letter-spacing: 0.25px;
}

[data-slice-theme-scope] .body-s-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-s);
	line-height: 142.86%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] .body-s-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-s);
	line-height: 142.86%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] .body-s-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-s);
	line-height: 142.86%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .body-m-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-m);
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] .body-m-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-m);
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] .body-m-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-m);
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .body-l-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-l);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.1px;
}

[data-slice-theme-scope] .body-l-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-l);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.1px;
}

[data-slice-theme-scope] .body-l-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-l);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] .body-xl-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xl);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.1px;
}

[data-slice-theme-scope] .body-xl-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-xl);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.1px;
}

[data-slice-theme-scope] .body-xl-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xl);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] .heading-s-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-s-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-m-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 116.67%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-m-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 116.67%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-l-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-l-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 30px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-xl-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] .heading-xl-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-m);
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.15px;
}

[data-slice-theme-scope] h1 {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] h2 {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] h3 {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 116.67%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] h4 {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.2px;
}

[data-slice-theme-scope] h1,
[data-slice-theme-scope] h2,
[data-slice-theme-scope] h3,
[data-slice-theme-scope] h4 {
	margin: 1.5em 0 0.6em 0;
}

[data-slice-theme-scope] h1:first-child {
	margin: 0 0 0.6em 0;
}

[data-slice-theme-scope] p {
	margin: 0 0 1.5em 0;
}

[data-slice-theme-scope] b,
[data-slice-theme-scope] strong {
	font-weight: var(--font-weight-bold);
}
