.wrapper {
	composes: columnStart from "../../../src/utils/styling/flexBox.module.css";
	border-top: 0px solid var(--core-outline-primary);
	width: 100%;
	gap: 8px;
	padding: 8px 0 0 0 !important;
}

.sample {
	composes: rowStart from "../../../src/utils/styling/flexBox.module.css";
	width: 100%;
	padding: 0 !important;
	margin: 0 0 16px 0 !important;
}
