.container {
	composes: rowStart from "../../../src/utils/styling/flexBox.module.css";
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
}

.wrapper {
	composes: column from "../../../src/utils/styling/flexBox.module.css";
	border: 1px solid var(--core-outline-primary);
	cursor: pointer;
	&:hover {
		border-color: var(--core-outline-special);
	}
}

.icon {
	composes: row from "../../../src/utils/styling/flexBox.module.css";
	padding: 16px !important;
	max-height: var(--icon-size);
	min-height: var(--icon-size);
	min-width: var(--icon-size);
	max-width: var(--icon-size);
}

.label {
	composes: body-m-regular from "../../../src/utils/styling/type.module.css";
	box-sizing: border-box;
	padding: 8px 16px !important;
	border-top: 1px solid var(--core-outline-primary);
	color: var(--core-text-disabled);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	width: var(--icon-size);
}

.controls {
	composes: row from "../../../src/utils/styling/flexBox.module.css";
	padding: 16px 0 !important;
	width: 100%;
	gap: 16px;
}

.spacer {
	flex: 1;
	max-height: var(--icon-size);
	min-height: var(--icon-size);
	min-width: var(--icon-size);
	max-width: var(--icon-size);
}
