.badge {
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-xs-medium from "../../utils/styling/type.module.css";
	line-height: 1em;
	color: var(--badge-color);
	background: var(--badge-bg);
	padding: 2px 8px;
	min-width: 24px;
	width: min-content;
	border-radius: 8px;
	white-space: nowrap;
}
