.button {
	composes: row from "../../utils/styling/flexBox.module.css";
	position: relative;
	user-select: none;
	min-width: var(--ui-button-min-width);
	-webkit-user-select: none;
}

.label {
	user-select: none;
	-webkit-user-select: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	&:hover {
		text-decoration: var(--ui-button-decoration);
	}
}

.count {
	position: absolute;
	composes: row from "../../utils/styling/flexBox.module.css";
	top: 0;
	right: 0;
	transform: translateX(10px) translateY(-2px);
}

.icon {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-width: var(--ui-button-icon-size);
	min-height: var(--ui-button-icon-size);
	height: var(--ui-button-icon-size);
	width: var(--ui-button-icon-size);
}

.m {
	composes: body-m-regular from "../../utils/styling/type.module.css";
}

.l {
	composes: body-l-regular from "../../utils/styling/type.module.css";
}

.s {
	composes: body-s-regular from "../../utils/styling/type.module.css";
}
