/* Light theme colors */
:root,
[data-theme="lightMode"] {
	--array-land: #e0ffb7;
	--array-land-label: #56c900;
	--array-magenta: #ffdcef;
	--array-magenta-label: #f012aa;
	--array-orange: #ffebd7;
	--array-orange-label: #ff6700;
	--array-purple: #f4ddff;
	--array-purple-label: #6a14ff;
	--array-sea: #c7defe;
	--array-sea-label: #2d2fff;
	--array-sky: #cdfffb;
	--array-sky-label: #00a6c0;
	--array-yellow: #fffdca;
	--array-yellow-label: #ffad00;
	--core-badge-primary: #2f45ff;
	--core-badge-secondary: #e5ecf3;
	--core-button-disabled: #f4f7fa;
	--core-button-primary: #2f45ff;
	--core-drop-shadow: #0339491a;
	--core-gp-logo-primary: #0000ff;
	--core-gp-logo-secondary: #1f262d;
	--core-icon-dark: #1f262d;
	--core-icon-disabled: #98acbf;
	--core-icon-error: #df0529;
	--core-icon-light: #ffffff;
	--core-icon-primary: #1f262d;
	--core-icon-secondary: #405261;
	--core-icon-tertiary: #2f45ff;
	--core-outline-secondary: #405261;
	--core-outline-primary: #e5ecf3;
	--core-outline-special: #c7defe;
	--core-outline-tertiary: #2f45ff;
	--core-surface-coverup-translucent: #1f262d52;
	--core-surface-overlay-translucent: #ffffffcc;
	--core-surface-primary: #ffffff;
	--core-surface-secondary: #f4f7fa;
	--core-surface-special: #e8f1ff;
	--core-text-dark: #1f262d;
	--core-text-disabled: #98acbf;
	--core-text-error: #df0529;
	--core-text-light: #ffffff;
	--core-text-primary: #1f262d;
	--core-text-secondary: #405261;
	--core-text-tertiary: #4c6273;
	--core-text-special: #2f45ff;
	--core-link-primary: #0000ff;
	--eor-tag-employee: #03839b;
	--eor-tag-overdue: #df0529;
	--eor-tag-paid: #2d8c00;
	--eor-tag-pending: #ff800a;
	--eor-tag-professional: #2f45ff;
	--feedback-attention: #ffc200;
	--feedback-informative: #03839b;
	--feedback-positive: #2d8c00;
	--feedback-urgency: #ff800a;
	--feedback-warning: #df0529;
	--gia-tag-risk-high: #df0529;
	--gia-tag-risk-low: #03839b;
	--gia-tag-risk-moderate: #ff800a;
	--gia-text-excerpt-highlight: #ffebd7;
	--gia-text-selection: #c7defe;
	--scroll-bar: #e3e8ef;
	--scroll-bar-hover: #cdd5df;
	--surface-shadow-soft: 0px 4px 24px #0339491a;
	--surface-shadow-strong: 0px 4px 64px #0339491a;
}

/* Dark theme colors */
[data-theme="darkMode"] {
	--array-land: #e0ffb7;
	--array-land-label: #56c900;
	--array-magenta: #ffdcef;
	--array-magenta-label: #f012aa;
	--array-orange: #ffebd7;
	--array-orange-label: #ff6700;
	--array-purple: #f4ddff;
	--array-purple-label: #6a14ff;
	--array-sea: #c7defe;
	--array-sea-label: #2d2fff;
	--array-sky: #cdfffb;
	--array-sky-label: #00a6c0;
	--array-yellow: #fffdca;
	--array-yellow-label: #ffad00;
	--core-badge-primary: #2f45ff;
	--core-badge-secondary: #405261;
	--core-button-disabled: #2d353d;
	--core-button-primary: #2f45ff;
	--core-drop-shadow: #0000007a;
	--core-gp-logo-primary: #2f45ff;
	--core-gp-logo-secondary: #ffffff;
	--core-icon-dark: #1f262d;
	--core-icon-disabled: #657d91;
	--core-icon-error: #ff474a;
	--core-icon-light: #ffffff;
	--core-icon-primary: #ffffff;
	--core-icon-secondary: #d5e0ea;
	--core-icon-tertiary: #6af5ff;
	--core-outline-secondary: #e5ecf3;
	--core-outline-primary: #405261;
	--core-outline-special: #105669;
	--core-outline-tertiary: #6af5ff;
	--core-surface-coverup-translucent: #0000007a;
	--core-surface-overlay-translucent: #1f262dcc;
	--core-surface-primary: #1f262d;
	--core-surface-secondary: #2d353d;
	--core-surface-special: #033949;
	--core-text-dark: #1f262d;
	--core-text-disabled: #657d91;
	--core-text-error: #ff474a;
	--core-text-light: #ffffff;
	--core-text-primary: #ffffff;
	--core-text-secondary: #d5e0ea;
	--core-text-tertiary: #7f96a9;
	--core-text-special: #6af5ff;
	--core-link-primary: #6af5ff;
	--eor-tag-employee: #03839b;
	--eor-tag-overdue: #ff474a;
	--eor-tag-paid: #2d8c00;
	--eor-tag-pending: #ff800a;
	--eor-tag-professional: #2f45ff;
	--feedback-attention: #ffd333;
	--feedback-informative: #00a6c0;
	--feedback-positive: #2d8c00;
	--feedback-urgency: #ff800a;
	--feedback-warning: #ff474a;
	--gia-tag-risk-high: #ff474a;
	--gia-tag-risk-low: #00a6c0;
	--gia-tag-risk-moderate: #ff800a;
	--gia-text-excerpt-highlight: #ffebd7;
	--gia-text-selection: #001699;
	--scroll-bar: rgba(255, 255, 255, 0.1);
	--scroll-bar-hover: rgba(255, 255, 255, 0.15);
	--surface-shadow-soft: 0px 4px 24px #0000007a;
	--surface-shadow-strong: 0px 4px 64px #0000007a;
}

/* Theme token text-color utility classes */
.array-land {
	background: var(--array-land);
}
.array-land-label {
	color: var(--array-land-label);
}
.array-magenta {
	background: var(--array-magenta);
}
.array-magenta-label {
	color: var(--array-magenta-label);
}
.array-orange {
	background: var(--array-orange);
}
.array-orange-label {
	color: var(--array-orange-label);
}
.array-purple {
	background: var(--array-purple);
}
.array-purple-label {
	color: var(--array-purple-label);
}
.array-sea {
	background: var(--array-sea);
}
.array-sea-label {
	color: var(--array-sea-label);
}
.array-sky {
	background: var(--array-sky);
}
.array-sky-label {
	color: var(--array-sky-label);
}
.array-yellow {
	background: var(--array-yellow);
}
.array-yellow-label {
	color: var(--array-yellow-label);
}
.core-badge-primary {
	background: var(--core-badge-primary);
}
.core-badge-secondary {
	background: var(--core-badge-secondary);
}
.core-button-disabled {
	background: var(--core-button-disabled);
}
.core-button-primary {
	background: var(--core-button-primary);
}
.core-drop-shadow {
	box-shadow: var(--core-drop-shadow);
}
.core-gp-logo-primary {
	color: var(--core-gp-logo-primary);
}
.core-gp-logo-secondary {
	color: var(--core-gp-logo-secondary);
}
.core-icon-dark {
	color: var(--core-icon-dark);
}
.core-icon-disabled {
	color: var(--core-icon-disabled);
}
.core-icon-error {
	color: var(--core-icon-error);
}
.core-icon-light {
	color: var(--core-icon-light);
}
.core-icon-primary {
	color: var(--core-icon-primary);
}
.core-icon-secondary {
	color: var(--core-icon-secondary);
}
.core-icon-tertiary {
	color: var(--core-icon-tertiary);
}
.core-link-primary {
	color: var(--core-link-primary);
}
.core-outline-primary {
	border-color: var(--core-outline-primary);
}
.core-outline-secondary {
	border-color: var(--core-outline-secondary);
}
.core-outline-special {
	border-color: var(--core-outline-special);
}
.core-outline-tertiary {
	border-color: var(--core-outline-tertiary);
}
.core-surface-coverup-translucent {
	background: var(--core-surface-coverup-translucent);
}
.core-surface-overlay-translucent {
	background: var(--core-surface-overlay-translucent);
}
.core-surface-primary {
	background: var(--core-surface-primary);
}
.core-surface-secondary {
	background: var(--core-surface-secondary);
}
.core-surface-special {
	background: var(--core-surface-special);
}
.core-text-dark {
	color: var(--core-text-dark);
}
.core-text-disabled {
	color: var(--core-text-disabled);
}
.core-text-error {
	color: var(--core-text-error);
}
.core-text-light {
	color: var(--core-text-light);
}
.core-text-primary {
	color: var(--core-text-primary);
}
.core-text-secondary {
	color: var(--core-text-secondary);
}
.core-text-special {
	color: var(--core-text-special);
}
.core-text-tertiary {
	color: var(--core-text-tertiary);
}
.eor-tag-employee {
	color: var(--eor-tag-employee);
}
.eor-tag-overdue {
	color: var(--eor-tag-overdue);
}
.eor-tag-paid {
	color: var(--eor-tag-paid);
}
.eor-tag-pending {
	color: var(--eor-tag-pending);
}
.eor-tag-professional {
	color: var(--eor-tag-professional);
}
.feedback-attention {
	color: var(--feedback-attention);
}
.feedback-informative {
	color: var(--feedback-informative);
}
.feedback-positive {
	color: var(--feedback-positive);
}
.feedback-urgency {
	color: var(--feedback-urgency);
}
.feedback-warning {
	color: var(--feedback-warning);
}
.gia-tag-risk-high {
	color: var(--gia-tag-risk-high);
}
.gia-tag-risk-low {
	color: var(--gia-tag-risk-low);
}
.gia-tag-risk-moderate {
	color: var(--gia-tag-risk-moderate);
}
.gia-text-excerpt-highlight {
	color: var(--gia-text-excerpt-highlight);
}
.gia-text-selection {
	color: var(--gia-text-selection);
}
.scroll-bar {
	color: var(--scroll-bar);
}
.scroll-bar-hover {
	color: var(--scroll-bar-hover);
}
.surface-shadow-soft {
	color: var(--surface-shadow-soft);
}
.surface-shadow-strong {
	color: var(--surface-shadow-strong);
}

body {
	background: var(--core-surface-primary);
}
