.wrapper {
	composes: rowBetween from "../../utils/styling/flexBox.module.css";
	padding: var(--toast-padding) !important;
	color: var(--toast-color);
	position: var(--toast-position);
	border: var(--toast-border);
	border-radius: var(--toast-border-radius);
	background: var(--toast-background);
	z-index: var(--elevation-status);
	gap: 16px;
	box-shadow: var(--surface-shadow-soft);
	left: 50%;
	transform: translateX(-50%);
}

.close {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-height: 20px;
	max-height: 20px;
	min-width: 20px;
	max-width: 20px;
	cursor: pointer;
}

.message {
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	gap: 6px;
}

.progress {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-height: 20px;
	max-height: 20px;
	min-width: 20px;
	max-width: 20px;
}

.s {
	composes: body-s-regular from "../../utils/styling/type.module.css";
}

.m {
	composes: body-m-regular from "../../utils/styling/type.module.css";
}
.l {
	composes: body-l-regular from "../../utils/styling/type.module.css";
}
