.wrapper {
	composes: columnStart from "../../util/flexBox.module.css";
	border-top: 1px solid var(--core-outline-primary);
	width: 100%;
	gap: 8px;
	padding: 8px 0 0 0 !important;
}

.sample {
	composes: rowStart from "../../util/flexBox.module.css";
	width: 100%;
	padding: 0 !important;
	margin: 0 0 16px 0 !important;
}
