.flexDiv {
	composes: body-m-regular from "../../utils/styling/type.module.css";
	&::-webkit-scrollbar {
		background-color: var(--flex-div-bg);
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--flex-div-bg);
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--flex-div-scroll-handle);
		border-radius: 20px;
		border: 1px solid var(--flex-div-bg);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--flex-div-scroll-handle-hover);
		border-radius: 20px;
		border: 1px solid var(--flex-div-bg);
	}
}
