.label {
	line-height: 1em;
	white-space: nowrap;
	padding: var(--label-padding) !important;
	width: min-content;
	color: var(--label-color);
	border-radius: var(--label-border-radius);
	border: var(--label-border-size) solid var(--label-border-color);
	cursor: default;
	background: var(--label-bg-color);
}

.button {
	composes: body-m-regular from "../../utils/styling/type.module.css";
	display: inline-flex !important;
	background: var(--label-bg-color);
	color: var(--label-color);
	border-radius: var(--label-border-radius);
	border: var(--label-border-size) solid var(--label-border-color);
	width: min-content;
	cursor: pointer;
	white-space: nowrap;
	appearance: none;
	-webkit-appearance: none;
	background-image: none;
	outline: none;
}

.xs {
	composes: body-xs-regular from "../../utils/styling/type.module.css";
}

.s {
	composes: body-s-regular from "../../utils/styling/type.module.css";
}

.m {
	composes: body-m-regular from "../../utils/styling/type.module.css";
}

.l {
	composes: body-l-regular from "../../utils/styling/type.module.css";
}
