.slice-global-body {
	/* apply themed background color */
	background-color: var(--core-surface-primary);
	/* remove gaps */
	margin: 0;
	padding: 0;
	/* base medium body font style with pref. for theme google font */
	font-family: "Funnel Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Helvetica, Arial, sans-serif;
	font-weight: 360;
	font-size: 15px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0.15px;
	-webkit-font-smoothing: antialiased;
}
