.container {
	position: fixed;
	inset: 0;
	overflow: hidden;
	z-index: var(--elevation-confirm);
}

.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 100%;
	height: 100%;
	overflow: visible;
	z-index: var(--elevation-confirm);
}

.wrapper {
	position: absolute;
	composes: row from "../../utils/styling/flexBox.module.css";
	z-index: var(--elevation-confirm);
}
