.wrapper {
	composes: columnStart from "../../util/flexBox.module.css";
	border: 1px solid var(--core-outline-primary);
	max-width: var(--tile-width);
	overflow: hidden;
	cursor: pointer;
	&:hover {
		border: 1px solid var(--core-link-primary);
	}
}

.tile {
	composes: columnStart from "../../util/flexBox.module.css";
	min-height: var(--tile-height);
	min-width: var(--tile-width);
	height: var(--tile-height);
	width: var(--tile-width);
	background: var(--tile-bg-color);
	border-bottom: 1px solid var(--core-outline-primary);
}

.tokens {
	composes: columnStart from "../../util/flexBox.module.css";
	padding: 8px !important;
	width: 100%;
}

.token {
	width: 100%;
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	-webkit-line-clamp: var(--div-input-line-clamp);
	-webkit-box-orient: vertical;
}
