.wrapper {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-height: var(--cb-size);
	height: var(--cb-size);
	width: auto;
	gap: 6px;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	outline: none;
	border: 0;
}

.icon {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-width: var(--cb-size);
	max-width: var(--cb-size);
	min-height: var(--cb-size);
	max-height: var(--cb-size);
}

.label {
	composes: body-m-regular from "../../utils/styling/type.module.css";
	color: var(--cb-label-color);
}
