.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: var(--level-width);
	height: var(--level-height);
	min-height: var(--level-height);
	gap: var(--level-gap);
	border-radius: var(--level-bar-border-radius);
	overflow: hidden;
}

.barContainer {
	flex: 1 1 0;
	height: var(--level-height);
	min-height: var(--level-height);

	border: var(--level-border-width) solid var(--level-border-color);
	background-color: var(--level-bg-color);
	overflow: hidden;
}

.bar {
	display: block;
	min-width: 100%;
	min-height: 100%;
	background-color: var(--level-color);
	transition: background-color 120ms linear;
}
