.wrapper {
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-m-regular from "../../utils/styling/type.module.css";
	position: relative;
	min-height: var(--avatar-size);
	min-width: var(--avatar-size);
	max-height: var(--avatar-size);
	max-width: var(--avatar-size);
	height: var(--avatar-size);
	width: var(--avatar-size);
	border: var(--avatar-outer-border-size) solid var(--avatar-outer-border-color);
	border-radius: 100%;
	outline: 0;
}

.user {
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-m-regular from "../../utils/styling/type.module.css";
	font-size: var(--avatar-font-size) !important;
	height: 100%;
	width: 100%;
	line-height: 1em;
	text-transform: uppercase;
	border-radius: 100%;
	border: var(--avatar-border) solid var(--avatar-border-color);
	background-color: var(--avatar-bg-color);
	color: var(--avatar-color);
	background-image: var(--avatar-bg-image);
	background-size: cover;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	transition: border-color var(--motion-water-duration) var(--motion-water) 0s;
	&:hover {
		border-color: var(--avatar-border-color-hover);
	}
}
