.wrapper {
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	border-radius: var(--bb-border-radius);
	border: var(--bb-border-size) solid var(--bb-border-color);
	overflow: hidden;
}

.label {
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	color: var(--bb-label-color);
	padding-right: 4px;
}

.button {
	composes: row from "../../utils/styling/flexBox.module.css";
	height: var(--bb-button-size);
	width: var(--bb-button-size);
	min-height: var(--bb-button-size);
	min-width: var(--bb-button-size);
	cursor: pointer;
	background: var(--bb-bg-color);
	border: 0;
	border-right: var(--bb-border-size) solid var(--bb-border-color);
	user-select: none;
	-webkit-user-select: none;
	appearance: none;
	-webkit-appearance: none;
	&:first-child {
		padding-left: 4px;
	}
	&:last-child {
		border-right: none;
		padding-right: 4px;
	}
	&:hover {
		background: var(--bb-bg-color-hover);
	}
}

.selected {
	background: var(--bb-bg-color-active);
	color: var(--core-link-primary);
}
