[data-slice-theme-scope] {
	--elevation-below-surface: -100;
	--elevation-surface: 0;
	--elevation-float: 100;
	--elevation-describe: 200;
	--elevation-status: 300;
	--elevation-notify: 400;
	--elevation-overlay: 500;
	--elevation-confirm: 600;
}
