.family {
	composes: body-l-bold from "../../../src/utils/styling/type.module.css";
	font-family: "Funnel Sans", sans-serif !important;
	font-size: 28px !important;
	line-height: 1em !important;
	margin-bottom: 8px !important;
	font-weight: 500;
}

.glyphs {
	box-sizing: border-box;
	composes: body-l-regular from "../../../src/utils/styling/type.module.css";
	font-family: "Funnel Sans", sans-serif !important;
	font-size: 56px !important;
	letter-spacing: 0.1em;
	line-height: 1em;
	margin-bottom: 6px !important;
	font-weight: 300;
	color: var(--core-text-special);
	width: 100%;
	word-break: break-all;
	border: 1px solid var(--core-outline-primary);
	padding: 64px;
	background: var(--core-surface-secondary);
}
.number {
	composes: body-l-regular from "../../../src/utils/styling/type.module.css";
	font-family: "Funnel Sans", sans-serif !important;
	font-size: 32px !important;
	letter-spacing: 0.2em;
	line-height: 1em;
	font-weight: 300;
	color: var(--core-text-special);
	width: 100%;
	border-bottom: 1px solid var(--core-surface-secondary);
	padding-bottom: 24px;
}

.uppercase {
	text-transform: uppercase;
}
