.wrapper {
	position: relative;
	composes: column from "../../utils/styling/flexBox.module.css";
	width: 100%;
	height: 100%;
	background-color: var(--core-surface-secondary);
	overflow: hidden;
	border-radius: 4px;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	composes: rowBetween from "../../utils/styling/flexBox.module.css";
	padding: 16px !important;
	gap: 16px;
	background-color: var(--camera-controls-bg);
	transform: var(--camera-controls-transform);
	transition: transform var(--motion-water-duration) var(--motion-water) 0s;
}

.controlsRight {
	composes: rowEnd from "../../utils/styling/flexBox.module.css";
	gap: 12px;
	flex: 1;
}

.controlsCenter {
	composes: row from "../../utils/styling/flexBox.module.css";
	gap: 12px;
	flex: 1;
}

.controlsLeft {
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	gap: 12px;
	flex: 1;
}

.error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-m-regular from "../../utils/styling/type.module.css";
	color: var(--feedback-warning);
}

.poster {
	position: absolute;
	aspect-ratio: 1 / 1;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-m-regular from "../../utils/styling/type.module.css";
	color: var(--core-text-primary);
}

.snapshotFrame {
	position: absolute;
	composes: row from "../../utils/styling/flexBox.module.css";
	max-width: 25%;
	height: min-content;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.clear {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 3;
}

.snapshot {
	width: 100%;
	border: 1px solid var(--core-outline-special);
	z-index: 2;
}

.toolbarButton {
	composes: columnStartCenter from "../../utils/styling/flexBox.module.css";
	gap: 4px;
	cursor: pointer;
}

.buttonIcon {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-height: var(--toolbar-button-size);
	max-height: var(--toolbar-button-size);
	min-width: var(--toolbar-button-size);
	max-width: var(--toolbar-button-size);
	background: var(--toolbar-button-bg-color);
	border: 1px solid transparent;
	border-radius: 100%;
	opacity: var(--toolbar-button-opacity);
	transition: background, border var(--motion-water-duration)
		var(--motion-water) 0s;
}

.buttonIcon:hover {
	border: 1px solid var(--core-outline-special);
}

.buttonLabel {
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-xs-regular from "../../utils/styling/type.module.css";
	color: var(--toolbar-button-label-color);
}
