.wrapper {
	composes: column from "../../utils/styling/flexBox.module.css";
	padding: var(--ua-padding) !important;
	border: var(--ua-border) var(--ua-border-style) var(--ua-border-color);
	border-radius: var(--ua-radius);
	background: var(--ua-bg-color);
	gap: 8px;
	cursor: var(--ua-cursor);
	width: var(--ua-width);
	height: var(--ua-height);
	user-select: none;
	-webkit-user-select: none;
}

.icon {
	composes: row from "../../utils/styling/flexBox.module.css";
	min-height: var(--ua-icon-size);
	height: var(--ua-icon-size);
	min-width: var(--ua-icon-size);
	width: var(--ua-icon-size);
	pointer-events: none;
}

.title {
	composes: body-l-bold from "../../utils/styling/type.module.css";
	pointer-events: none;
}

.message {
	composes: row from "../../utils/styling/flexBox.module.css";
	color: var(--core-text-tertiary);
	pointer-events: none;
	gap: 8px;
}

.files {
	composes: column from "../../utils/styling/flexBox.module.css";
	margin-top: 16px !important;
	width: 100%;
}

.xs {
	composes: body-xs-regular from "../../utils/styling/type.module.css";
}

.s {
	composes: body-s-regular from "../../utils/styling/type.module.css";
}

.m {
	composes: body-m-regular from "../../utils/styling/type.module.css";
}

.l {
	composes: body-l-regular from "../../utils/styling/type.module.css";
}
