.wrapper {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	padding: 0 var(--slider-padding);
	margin: 0;
	width: var(--slider-width);
	height: auto;
	min-height: var(--slider-touch-height);
	cursor: var(--slider-cursor);
	opacity: var(--slider-opacity);
	background: transparent;
}

.trackBg {
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	position: relative;
	width: 100%;
	height: var(--slider-height);
	background-color: var(--slider-track-color);
	overflow: hidden;
	border-radius: 100px;
}

.track {
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	background-color: var(--slider-progress-color);
	overflow: visible;
	border-radius: 100px;
}

.trackHead {
	position: absolute;
	display: var(--slider-head-display);
	background-color: var(--slider-head-color);
	border: var(--slider-track-head-border);
	border-radius: var(--slider-head-radius);
	max-width: var(--slider-head-width);
	max-height: var(--slider-head-size);
	min-width: var(--slider-head-width);
	min-height: var(--slider-head-size);
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.trackWrapper {
	position: relative;
	composes: rowStart from "../../utils/styling/flexBox.module.css";
	width: 100%;
	height: var(--slider-height);
	min-height: var(--slider-touch-height);
	background-color: transparent;
	border-radius: 4px;
	overflow: visible;
	outline: none;
}

.trackWrapper:focus-visible {
	outline: 2px solid var(--core-link-primary);
	outline-offset: 2px;
}
