.wrapper {
	composes: row from "../../utils/styling/flexBox.module.css";
	gap: var(--pager-gap);
	width: 100%;
	z-index: var(--elevation-status);
}

.bullet {
	composes: row from "../../utils/styling/flexBox.module.css";
	width: var(--pager-size);
	height: var(--pager-size);
	max-width: var(--pager-size);
	max-height: var(--pager-size);
	background: var(--pager-color);
	border-radius: 100%;
	border: 0;
	cursor: pointer;
	outline: none;
	transition: background var(--motion-water-duration) var(--motion-water) 0s;
	&:hover {
		background: var(--pager-colorHover);
	}
}

.selected {
	background: var(--pager-colorOn);
	&:hover {
		background: var(--pager-colorOn);
	}
}
